/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:rgb(255, 255, 255);
	--color-background:rgb(255, 129, 205);
	--color-text-article: black;
	--color-background-article:white;
	--color-button:white;
	--color-text-section:black;
	

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
  margin: 0;
  font-family: futura-pt, sans-serif;
}

article{
	background-color:var(--color-background-article);
	border-radius:20px;
	margin-top: 2em;
	margin-left: 1em;
	margin-right: 1em;
	
}

h1, h2, p{
	padding: 1em;
	text-align: center;

}

p{
	size: 40px;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

img{
	width: 100%;

}



a{
	text-decoration: none;
	color: var(--color-text);

	border-radius: 5px;

}

ul li{
	list-style: none;
}

article > a{
	text-decoration: none;
	color: var(--color-text-article);
}

section :nth-of-type(1){
background-color: var(--color-background);


}
section {
background-color:var(--color-background-article);
}

section> p,li{
	color: var(--color-text-article);
}

nav{
	display: flex;
	justify-content: space-evenly;
	top: 0;
	
	
	

}

main button :nth-of-type(1){
	display: flex;
	justify-content: center;
}


nav a:nth-of-type(2){
	order: -100;
	text-decoration: underline;
	z-index: 100;
	float: left;
	
}

nav a:nth-of-type(1){
	font-size: 3em;
	z-index: 100;
}
nav button{
	font-size: 0.5em;
	
	z-index: 100;
	display: block;
}



button{
	background-color: var(--color-button);
	padding: 5px;
	border-style: none;
	border-radius: 10px;

}

nav button{
	background-color: pink;
	
}

button:nth-child(3){
	background-color: var(--color-button);
	padding: 5px;
	border-style: none;

}
 
button:nth-child(3) a{
	color: var(--color-text-article);
	border-style: none;
	
}

article:nth-of-type(4){
	display: grid;
	grid-template-columns: 12em 1fr;

}
article:nth-of-type(4) a{
	display: grid;
	grid-template-columns: 12em 1fr;

}
article:nth-of-type(4) h1{

grid-area: 1 / 2;
gap: 3em;
margin-left: 1em;
}

article:nth-of-type(4) p{

	grid-area: 2/ 2;
	gap: 3em;
	margin-left: 1em;
	}
	

article:nth-last-of-type(4) img{
	display: grid;
	grid-template-columns: 12em 1fr;
	grid-column-start: 1;
	grid-column-end: ;
}

button{
	display: flex;
	justify-content: center;
}

article:nth-of-type(5){
	display: grid;
	grid-template-columns: 12em 1fr;

}
article:nth-of-type(5) a{
	display: grid;
	grid-template-columns: 12em 1fr;

}
article:nth-of-type(5) h1{

grid-area: 1 / 2;
gap: 3em;
margin-left: 1em;
}

article:nth-of-type(5) p{

	grid-area: 2/ 2;
	gap: 3em;
	margin-left: 1em;
	}
	

article:nth-last-of-type(5) img{
	display: grid;
	grid-template-columns: 12em 1fr;
	grid-column-start: 1;
	grid-column-end: ;
}


article:nth-of-type(6){
	display: grid;
	grid-template-columns: 12em 1fr;

}
article:nth-of-type(6) a{
	display: grid;
	grid-template-columns: 12em 1fr;

}
article:nth-of-type(6) h1{

grid-area: 1 / 2;
gap: 3em;
margin-left: 1em;
}

article:nth-of-type(6) p{

	grid-area: 2/ 2;
	gap: 3em;
	margin-left: 1em;
	}
	

article:nth-last-of-type(6) img{
	display: grid;
	grid-template-columns: 12em 1fr;
	grid-column-start: 1;
	grid-column-end: ;
}


footer h1{
	color: var(--color-text-section);
}


footer a{
	color: var(--color-text-section);
}

